<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Ninjas</h1>
    <img src="static/ninjas/tmnt.png" alt="">
    <!-- <img src="/static/ninjas/donatello.jpg" alt="donatello">
    <img src="leonardo.jpg" alt="leonardo">
    <img src="michelangelo.jpg" alt="michelangelo">
    <img src="raphael.jpg" alt="">
    <img src="" alt=""> -->
  </body>
</html>
